<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Pokemon</title>
</head>
<body>
  <h1> Box 1 as of <%= time %></h1>
  <ul>
    <% pokemon.forEach(mon => { %>
      <li>
        <form 
          action="../pokemon/<%= mon._id %>?_method=DELETE"
          class="delete-form"
          method="POST"
        >
          <button type="submit">X</button>
        </form>
				<%= mon.name %>
				- 
        <%= mon.type %>
        - 
				<%= mon.starter ? 'is starter' : 'not starter' %>
			</li>
    <% }) %>
  </ul>
  <a href="../pokemon/new">Add To Box-1</a>
</body>
</html>