<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokemon</title>
</head>
<body>
  <h1>Pokebox as of <%= time %></h1>
  <ul>
    <% pokemon.forEach((mon) => { %>
      <li>
        <form 
          action="/pokemon/<%= pokemon._id %>?_method=DELETE" 
          method="POST"
          class="delete-form"
          >
          <button type="submit">X</button>
        </form>
        <a href="../pokemon/index/<%= mon._id %>"><%= mon.name %></a>
				- 
				<%= mon.starter ? 'is starter' : 'not starter' %>
			</li>
    <% }) %>
  </ul>

  <a href="pokemon/new">Add to Poke-Box</a>
</body>
</html>